@tailwind base;
@tailwind components;
@tailwind utilities;

/* !Electrolize google fonts */
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

body {
  margin: 0;
  font-family: 'Electrolize', sans-serif;
  overflow: hidden;
  @apply bg-gray-50;
}

.menu-link{
  @apply  hover:text-[#40a9ff] flex flex-col transition-all duration-500 justify-center items-center
}

.canini{
  -webkit-box-shadow: 1px 38px 127px 13px rgb(58, 230, 27);
-moz-box-shadow: 1px 38px 127px 13px #1ede44;
box-shadow: 1px 38px 127px 13px rgb(233, 0, 54);
}

.active{
  @apply text-[#40a9ff]
}

.ecani::-webkit-scrollbar {
  display: none;
}

.bill::-webkit-scrollbar {
  display: none;
}

.products::-webkit-scrollbar {
  display: none;
}
.ant-btn-primary {
  background-color: #1677ff;
}

.custom-horizontal-scrollbar {
  &::-webkit-scrollbar {
    height: 4px;
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #fff5da;
    border-radius: 38px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ffcc48;
    border-radius: 38px;
  }
}

.category-item{
  @apply min-w-[145px] bg-green-700 px-5 py-[28px] flex items-center justify-center text-white cursor-pointer hover:bg-pink-700 transition-all text-center;
}

@media (min-width: 768px) {
  body {
    margin: 0;
    font-family: 'Electrolize', sans-serif;
  }

  .categories::-webkit-scrollbar {
    display: none;
  }
}
